<!DOCTYPE html>
<html class="full-height">
<head>
  <meta charset="utf-8">
  <%- css(['css/bulma.main','css/font-awesome.min'])%>
  <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:500|Roboto" rel="stylesheet" type="text/css">
  <% } %>
  <%- css(['css/common','css/nav', 'css/layout'])%>
  <%- partial('google_analytics') %>
  <%- partial('baidu_tongji') %>
</head>
